html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
}

#book-container {
    position: relative;
    display: grid;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;

    background: rgb(204, 207, 207);
    border-radius: 5px;
    grid-auto-rows: auto;
    height: fit-content;
    width: 98%;
    margin-bottom: auto;
    align-content: start;
    box-sizing: border-box;
    padding-right: 8px;
    padding-left: 8px;

}

#book-container-bg{
    background-color: aqua;
    margin: 15px;
    position: relative;
    height: 70%;
    min-height: 600px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    display: flex;
    border-radius: 16px;
    box-shadow: 0px 2px 8px gray;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}
.book-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 100px 100px;
    width: 100%;
    background-color: transparent;
    height: min-content;
    margin: 10px 0px 10px 0px;

}

.book-info {
    margin: 0 2px 0 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:  rgb(233, 233, 233);;
    width: 97%;
    height: 100%;
}

#new-book-container {
    background-color: grey;
    margin-top: 40px;
    width: 98%;
    margin-bottom: 20px;
    align-self: center;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: max-content;
    display: flex;
    border-radius: 5px;

    justify-content: center;
    align-content: center;
    flex-direction: row;
    box-sizing: border-box;
}

button.book-info {
    height: fit-content;
    align-self: center;
    justify-self: center;
    width: 90%;
}

#new-book-button {
    justify-self:center;
    align-self: center;
}
label {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* align-self: center;
    justify-self: center;
    justify-content: center;
    align-content: center; */
    display: flexbox;
    margin: 3px;
}



.new-book-input[type=text] {
        /* border-radius: 10%; */
        border: none;
        border-bottom: 2px solid red;
    
        box-shadow: transparent;
        background-color: transparent;
        align-self: center;
        justify-self: center;
        justify-content: center;
        align-content: center; 
        margin: auto;
        width:  135px;
        display: flexbox;
}